<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Portada</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>   
    <div class="container">
        <div class="jumbotron">
            <h2 class="display-4">Instituto Tecnologico de la Sierra Norte de Puebla</h2>
            <p class="lead">
            Portada usando MVC con spring
            </p>
            <hr class="my-4">
            <p>Datos del estudiante.</p>
            <div>  
                        
            </div>
             <hr class="my-4">
            <div>
                <div class="row">
                    <div class="col-2"> </div>
                    <div class="col-8">   
                    <CENTER>                            
                         <h3> Nombre:</h3>
                          <h4> Javier Antonio Santiago Rodríguez</h3>
                          <h3> Carrera:</h3>
                          <h4> Ingenieria Informática</h4>  
                          <h3> Materia:</h3>
                          <h4> Desarrollo Web Avanzado</h4>
                          <h3> Profesor:</h3>
                          <h4> Adolfo Luna Sanchez</h4>
                          <h3> Semestre:</h3>
                          <h4> Octavo Semestre</h3>  
                          </CENTER>                        
                        <p>Desarrollo web avanzado </p>
                        <p>ITSSNP 20/05/2021.</p>
                        
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>